
.mobileThumbnailImg{
    display: none;
}

.blogs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  justify-content: center;
  grid-gap: 30px 5px;
}

.blogPosts{
    display: flex;
    justify-content: center;
}

.blogCard{
 padding: 20px;
}

.blogs a{
text-decoration: none;
display: flex;

}

.blogTitle {
   color: #E23E57;
}

.blogExcerpt{
    color: black;
}



@media screen and (max-width: 700px ) {
    .blogs{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 20px;
    }

    .mobileThumbnailImg{
        display: block;
        text-align: center;
    }
    .thumbnailImg{
        display: none;
    }
}