.eventsPageCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 30px 10px;
    text-align: center;
    
}

.eventsPageCard a{
    text-decoration: none;
    color: #E23E57;

}

.eventPicture{
    border-top: #E23E57 8px solid;
}

.location{
font-size: 12px;
padding: 0 25px;
color: grey;
}

.date{
 font-size: 12px;
 font-weight: 600;   
}

.eventTitle{
font-weight: 600;
color: #E23E57;
font-size: 25px;

}
.eventInfo{
display: flex;
align-items: center;


}

.locationInfo, .dateInfo{
display: flex;
align-items: center;


}

.date, .eventLocation{
margin-left: 15px;
color: grey;
font-size: 14px;
margin-bottom: 10px;
}

.locationInfo{
    margin-left: 15px;
}

.tickets{
    background-color: #E23E57;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0;
    width: 30%;
}


.when{
    font-size: 20px;
}

.nonTicketed{
 
    color: #E23E57;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slugEventInfo{
    margin-left: 30px;
    
}

.eventFeaturedImg{
    text-align: center;
}

.eventDesc{
    padding: 30px;
}

@media screen and (max-width: 1000px ){
.eventsPageCard{
        display: grid;
        grid-template-columns: 1fr;
    }

.eventImg{
    text-align: center;
}

.eventTitle{
    text-align: center;
    margin-top: 10px;
}

.eventInfo{
display: block;
margin-left: 20px;
margin-top: 15px;

}

.eventLocation{
width: 60%;
}

.slugEventInfo{
    margin-left: 0;
}

.locationInfo, .dateInfo{
display: flex;
align-items: center;


}
.tickets{
 width: 80%;
}

.locationInfo{
    margin-left: 0;

}


.eventBtnContainer{
  text-align: center;
 
}
.when{
    margin-left: 20px;
    font-size: 18px;
    margin-top: 30px;
}

.eventDesc{
    text-align: center;
    padding: 20px;
}

.nonTicketed{
    margin-left: 20px;
    color: #E23E57;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  

}

}

@media screen and (min-width: 1001px ) and (max-width: 1100px){
    .eventsPageCard{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}