@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  
}

.layout {
  position: relative;
  min-height: 100vh;
}

.page-content {
  padding-bottom: 400px;

}



nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.logo-nav-links{
  display: flex;
  align-items: center;
}

.nav-links{
 margin-left: 30px;
 
}

.nav-links a{
  text-decoration: none;
  color: black;
  margin-left: 15px;

}

.donate-btn-container .donate-btn{
    border-radius: 94% 30% 40% 70% / 67% 40% 56% 50%;
    width: 100px;
    height: 100px;
    background: #E23E57;
    border: none;
}

.donate-btn{
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.mobile-nav{
  display: none;
}

footer {
  background: #E23E57;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  height: auto;
  margin-top: 50px;
  padding-bottom: 10px;

}

.footer-links{
  display: flex;
  margin-left: 20px;
}

.quick-links a{
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: white;
  
}

.address{
  margin-left: 100px;
  width: 160px;
  line-height: 25px;
}

.company-info{
  margin-left: 20px;
  font-size: 12px;
}

.services a{
  text-decoration: none;
  color: #E23E57;
}



@media screen and (max-width: 700px ) {

  .page-content {
  padding-bottom: 450px;

}

.mobile-nav{
    display: flex;
  }

.desktop-nav{
    display: none;
  }

.mobile-menu-btn{
    border: none;
    background: none;
  }

.mobile-nav-links a{
    display: block;
    text-align: left;
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
  }

.mobile-nav-links{
  background-color: #E23E57;
  padding: 20px;
  height: 100vh;
  width: 90%;
  z-index: 10;
  left: 0;
  top: 0;
  position: absolute;
  }
  
  .mobile-links-inner{
    display: flex;
    
  }

  .close-btn{
   position: absolute;
   top: 10;
   right: 0;
   padding: 20px;
  }

  .footer-links{
    display: block;
  }

  .address{
    margin-left: 0;
  }

  .company-info{
    font-size: 12px;
    padding-right: 10px;
  }

.swiper-slide a{
text-decoration: none;
text-align: left;
}
.swiper-pagination{
margin-top: 20px;
position: relative !important; 
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #E23E57;
  opacity: 1;
}

.swiper-slide{

 text-align: center;

}

}
