@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  
}

.layout {
  position: relative;
  min-height: 100vh;
}

.page-content {
  padding-bottom: 20px;
}

footer {
  background: #E23E57;
  color: #bbb;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  height: auto;

}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}

.logo-nav-links{
  display: flex;
  align-items: center;
}

.nav-links{
 margin-left: 30px;
 
}

.nav-links a{
  text-decoration: none;
  color: black;
  margin-left: 15px;

}

.donate-btn-container .donate-btn{
    border-radius: 94% 30% 40% 70% / 67% 40% 56% 50%;
    width: 100px;
    height: 100px;
    background: #E23E57;
    border: none;
}

.donate-btn{
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}