@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  
}

.layout {
  position: relative;
  min-height: 100vh;
}

.page-content {
  padding-bottom: 400px;
  padding-top: 150px;

}


.logo-nav-links{
  display: flex;
  align-items: center;
  
  
}

.desktop-nav{
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20; 
  background-color: white;
}

.nav-links{
 margin-left: 30px;
 
}

.nav-links a{
  text-decoration: none;
  color: black;
  margin-left: 15px;
  

}

.nav-links a:hover{
  border-bottom: #E23E57 3px solid;
}


.donate-btn-container .donate-btn{
    border-radius: 5px;
    padding: 15px;
    background: #E23E57;
    border: none;
    
}

.donate-btn-container {
  padding: 0 40px;
}
.donate-btn{
  color: white;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.mobile-nav{
  display: none;
}

footer {
  background: #E23E57;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  height: auto;
  margin-top: 50px;
  padding-bottom: 10px;

}

.footer-links{
  display: flex;
  margin-left: 20px;
}

.quick-links a{
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: white;
  
}

.address{
  margin-left: 100px;
  width: 160px;
  line-height: 25px;
}

.company-info{
  margin-left: 20px;
  font-size: 12px;
}

.services a{
  text-decoration: none;
  color: #E23E57;
}



@media screen and (max-width: 700px ) {

  .page-content {
  padding-bottom: 450px;

}

.mobile-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20; 
  background-color: white;
  padding: 10px;
  }

.desktop-nav{
    display: none;
  }

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 36px;
}
.mobile-nav-links{
  background-color: #E23E57;
  height: 100vh;
  width: 90%;
  z-index: 10;
  left: 0;
  top: 0;

  }

  .mobile-nav-links a{
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
  }

.bm-burger-bars {
  background: black;
}


.bm-burger-bars-hover {
  background: #a90000;
}


.bm-cross-button {
  height: 30px;
  width: 30px;
}


.bm-cross {
  background: white;
  height: 30px !important;
 
}

.bm-menu-wrap {
  position: absolute;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.bm-menu {
  background: #E23E57;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

.bm-item-list {
  color: #b8b7ad;
  padding-top: 35px;

}

.bm-item a{
  display: block;
}

.bm-overlay {
  display: none;
}

  .footer-links{
    display: block;
  }

  .address{
    margin-left: 0;
  }

  .company-info{
    font-size: 12px;
    padding-right: 10px;
  }

.swiper-slide a{
text-decoration: none;
text-align: left;
}
.swiper-pagination{
margin-top: 20px;
position: relative !important; 
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #E23E57;
  opacity: 1;
}

.swiper-slide{

 text-align: center;

}

}
