.mobileImg{
  display: none;
}

.extraLargeDtkp{
    display: none;
}

.desktopImg{
    position: relative;
    text-align: center;
    color: white;
    
}

.imageHeading{
    font-size: 60px;
}

.imageSubHeading{
    font-size: 20px;
}

.imageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 1100px){
.desktopImg{
    display: none;
}

.extraLargeDtkp{
    display: none;
}

.mobileImg{
    display: block;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
   
}

.imageHeading{
    font-size: 30px;
}

.imageSubHeading{
    font-size: 15px;
}



}



@media screen and (min-width: 1700px ) {

.extraLargeDtkp{
    display: block;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.desktopImg{
    display: none;
}

.mobileImg{
  display: none;
}

}