
.services{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.services a{
  text-decoration: none;
  color: #E23E57;
}

.desktopTileImg{
    padding: 10px;
}

.mobileTileImg{
    display: none;
}

.titleText{
   margin-left: 10px;
   margin-top: 5px;
}

.homePageBlogs{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 5px; */
   
display: flex;
justify-content: space-evenly;
 
   
    

}
.homePageBlogs a{
    text-decoration: none;
}
.homePageBlogCard{
width: 410px;
margin: 0;
padding: 0;


}

.blogTitle {
   color: #E23E57;
}

.blogExcerpt{
    color: black;
}

.hpTitles {
color: #E23E57;
font-size: 25px;
margin-left: 55px;
padding-top: 50px;

}

.upcomingTitles{
color: #E23E57;
font-size: 25px;
margin-left: 50px;
padding-top: 50px;  
}

.homePageEvents{
display: flex;
justify-content: space-evenly;
padding: 10px;
}

.eventsCard a{
text-decoration: none;
color: #E23E57;
font-weight: 700;
margin-top: 10px;
}

.eventTitle{
    margin-top:  10px;
}

.swiperSlide{
    display: none;
}

@media screen and (max-width: 700px ) {

.desktopTileImg{
    display: none;
}  
.mobileTileImg{
    display: block;
    text-align: center;
}

.services a{
    text-align: center;
    font-size: 15px;
  
}

.services{
    margin-top: 20px;
    display: block;
}

.titleText{
   margin-top: 3px;
   margin-left: 0;
}

.homePageBlogs{
    display: none;
}

.homePageEvents{
    display: none;
    
}

.hpTitles{
    text-align: center;
    margin-left: 0;
}

.swiperSlide{
    display: block;
    padding: 10px;
}


.sliderTitle{
    font-size: 18px;
    color: #E23E57;

}

.sliderExcerpt{
    font-size: 13px;
}

}


@media screen and (min-width: 1700px ){
    .hpTitles, .upcomingTitles{
        text-align: center;
    }
}
