
.services{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.services a{
  text-decoration: none;
  color: #E23E57;
}

.desktopTileImg{
    padding: 10px;
}

.mobileTileImg{
    display: none;
}

.titleText{
   margin-left: 10px;
   margin-top: 5px;
}

.homePageBlogs{
    display: flex;
    justify-content: space-evenly;
}
.homePageBlogs a{
    text-decoration: none;
}
.homePageBlogCard{
width: 410px;
margin: 0;
padding: 0;


}

.blogTitle {
   color: #E23E57;
}

.blogExcerpt{
    color: black;
}

.hpTitles {
color: #E23E57;
font-size: 25px;
margin-left: 55px;
padding-top: 50px;

}

.upcomingTitles{
color: #E23E57;
font-size: 25px;
margin-left: 50px;
padding-top: 50px;  
}

.ourSupporters{
    margin-left: 125px;
}

.eventCard{
display: flex;
justify-content: space-evenly;
padding: 10px;
}

.eventPicture{
    width: 300px;
    height: 300px;
}
.eventCard a {
text-decoration: none;
color: #E23E57;
font-weight: 700;
margin-top: 10px;
}



.eventTitle{
    margin-top:  10px;
}

.swiperSlide{
    display: none;
}

.charities{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;

}

.charitySupporters{
margin-top: 40px;
padding-top: 20px;
}

.ourSupporters{
    color: #E23E57;

}
@media screen and (max-width: 700px ) {

.desktopTileImg{
    display: none;
}  
.mobileTileImg{
    display: block;
    text-align: center;
}

.services a{
    text-align: center;
    font-size: 15px;
  
}

.services{
    margin-top: 20px;
    display: block;
}

.titleText{
   margin-top: 3px;
   margin-left: 0;
}

.homePageBlogs{
    display: none;
}

.eventCard{
    display: none;
    
}

.hpTitles, .upcomingTitles{
    text-align: center;
    margin-left: 0;
}

.swiperSlide{
    display: block;
    padding: 20px;
}


.sliderTitle{
    font-size: 18px;
    color: #E23E57;

}
.eventsSliderTitle{
    font-size: 18px;
    color: #E23E57;
    margin-left: 7px;
}
.sliderExcerpt{
    font-size: 13px;
    text-align: left;
}

.charities{
    display: block;
    text-align: center;
}

.ourSupporters{
    text-align: center;
    font-size: 25px;
    margin-left: 0;
}


}

@media screen and (min-width: 702px ) and (max-width: 1100px) {
.services{
    margin-top: 20px;
    display: block;
}

.mobileTileImg{
    display: block;
    text-align: center;
}

.desktopTileImg{
    display: none;
}  

.services a{
    text-align: center;
    font-size: 15px;
  
}


.eventImg{
   text-align: center;
}


.eventPicture{
    width: 300px;
    height: 300px;
}

.events{
   text-align: center;
}

.eventCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
}

.hpTitles, .upcomingTitles{
    text-align: center;
    margin-left: 0;
}

.homePageBlogs{
  display: block;
  margin: 0;

}
.homePageBlogs a{
    text-decoration: none;
    
}
.homePageBlogCard{
width: 410px;
margin-top: 10px;

}

.blogs{
display: flex;
justify-content: center;
}

.charities{
   display: grid;
   grid-template-columns: 1fr 1fr;
   text-align: center;
}

.ourSupporters{
    text-align: center;
    font-size: 25px;
    margin-left: 0;
}



}

@media screen and (min-width: 1700px ){
    .hpTitles, .upcomingTitles, .ourSupporters{
        text-align: center;
    }
}
