.joinFeaturedImage, .dktpVolunteerPhoto{
display: block;
margin: auto;
}

.mobileJoinFeaturedImage, .mobileVolunteersPhoto{
    display: none;
}

.joinTitle, .pageTitles{
    text-align: center;
    color: #E23E57;
}

.teamMemberFeaturedImage, .mobileTeamMemberFeaturedImage{
    border-radius: 100%;
}

.mobileTeamMemberFeaturedImage{
    display: none;
}


.teamMembers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 10px;
    text-align: center;
    margin-top: 30px;
    padding: 40px 0;
    background-color: rgb(255, 250, 250);
}

.teamMemberName, .jobTitle{
    color: #E23E57;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;

}

.joinText{
    padding-bottom: 40px;
}

.photoDesc{
    font-style: italic;
    font-size: 10px;
    color: rgb(165, 165, 165);
    text-align: center;
}

.joinBtn{
    background-color: #E23E57;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;

}


@media screen and (max-width: 700px ){
    .joinFeaturedImage{
        display: none;
}

.mobileJoinFeaturedImage, .mobileVolunteersPhoto{
  display: block;
  margin: auto;
}

.teamMemberFeaturedImage, .dktpVolunteerPhoto{
    display: none;
}
.mobileTeamMemberFeaturedImage{
    display: block;
    margin: auto;
}

.teamMembers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
    text-align: center;
}

.teamMemberName, .jobTitle{
    font-size: 13px;

}

.btnContainer{
   text-align: center;
  
}

.joinText{
    text-align: center;
    padding: 20px;
}
}